@import "./genlayout";

html{
  &:hover{
    cursor: progress;
    cursor: wait;
  }
}

h3{
  font-size: 45px;
  text-align: center;
  margin-top: 35vh;

  &.waitTime {
    margin-top: 20vh;
  }
}

form.form{
  display: none;
}

img{
  @include span-columns(12);
  height: 50px;
  border-radius: 5px;
}

.imageBorder{
  border-radius: 5px;
  border: 3px solid #008000;
  @include span-columns(4);
  @include shift(4);
  margin-right: 34%;
  height: 56px;
}

@media (max-width: 480px) {
  img{
    @include span-columns(8);
    @include shift(2);
  }

  h3{
    @include span-columns(10);
    @include shift(1);
    line-height: 45px;
    margin-top: 30vh;
  }
}
