@import "./genlayout";
@import "./pagelayout";

div.headingBox{
  top: -105px;

  a{
    color: #FF6400;

    &:nth-of-type(2n){
      color: #181865;
    }
  }
}

@media (max-width: 480px) {
  div.headingBox{
    top: -115px;
  }
}
